<div class="footer container">
	<section class="row">
		<div class="columns seven">
			<p>
				Endereço <strong>R. Amazonas, 691 - Água Verde. Curitiba - PR. 80610-030</strong><br>
				Telefone/Whatsapp <strong>(41) 9 8505 9727</strong><br>
				E-mail <strong>edirleymachado@gmail.com</strong><br>
				Skype <strong>edirley.machado</strong>				
			</p>
		</div>
		<div class="columns five right">
			<p>
				Copyright 2020. <br>
				Todos os direitos reservados.<br>
				<strong>Peres Machado Projetos e Consultoria</strong><br>
				CNPJ 00.859.874/0001-07
			</p>
		</div>
	</section>
</div>
