<head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>

    <meta name="description" content="{{ site.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Language" content="pt-br">
    <meta name="google-site-verification" content="SS-dMX2ur4oLZB2btnhRlexxdN20vLT98wdp1NmTzkk" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

	<script src="https://use.fontawesome.com/e2cc34d613.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <link rel="stylesheet" href="/assets/css/main.css">
    <script type="text/javascript" src="/assets/js/main.js" charset="utf-8"></script>
  </head>
