<div class="header container">
	<section class="row">
		<a href="/" class="columns eight">
			<h1>{{site.title}}</h1>
			<h4>{{site.subtitle}}</h4>
			<p>{{site.description}}</p>
		</a>
		<div class="columns four right">
			<p>
		    	Telefone/Whatsapp <strong>(41) 9 8505 9727</strong><br>
				E-mail <strong>edirleymachado@gmail.com</strong><br>
				Skype <strong>edirley.machado</strong><br>
				Curitiba, PR
		    </p>
		</div>
	</section>
	<nav class="navbar">
		<div class="container">
			<ul class="navbar-list row">
				<li class="navbar-item"><a class="navbar-link" href="/">Home</a></li>
				<li class="navbar-item"><a class="navbar-link" href="/empresa">A Empresa</a></li>
				<li class="navbar-item"><a class="navbar-link" href="/atividades">Atividades</a></li>
				<li class="navbar-item"><a class="navbar-link" href="/contato">Contato</a></li>
			</ul>
		</div>
	</nav>
</div>
